# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pkl

# Streamlit cache
.streamlit/

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/
